<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>failure</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <section>
      <div class="container-md" style="height: 100vh; background-image: url(/images/round-purple-and-white-ring-candy-1330645.jpg);">
        <center>
          <div id="failure-wrapper">
            <button class="failure-button" style="verticle-align:middle">
              <span>
                <a href="/" class="failure-link-text">DOUGHNUT?</a>
              </span>
            </button>
          </div>
        </center>
      </div>
    </section>
  </body>
</html>
