<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gift Of Taste</title>
    <link href='https://fonts.googleapis.com/css?family=Dynalight' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <style type="text/css">
    </style>
  </head>
  <body>
    <section>
      <div class="container-md" style="height: 100vh; background-image: url(/images/image1.jpg);">
        <center>
          <div class="container-sm">
            <form class="login-form" action="/profile" method="post">
                <label class="logo-title">Gift Of Taste</label>
                <br><br><br><br>
                <label for="">Username: </label>
                <input type="text" name="username" value="" />
                <br><br>
                <label for="">Password: </label>
                <input type="password" name="password" value="" style="margin-left: 3px;" />
                <br><br>
                <label for="">Email: </label>
                <input type="email" name="email" value="" style="margin-left: 29px;" />
                <br><br>
                <input type="submit" name="" value="sign in" />
                <input type="submit" name="" value="sign up" formaction="/register">
            </form>
          </div>
        </center>
      </div>
    </section>
  </body>
</html>
